@media (max-width: 1239px) and (min-width: 980px) {
    :root {
        --bkg-dark: #212327;
        --bkg-white: #DCDDDE;
        --green1: #32EC5B;
        --green2: #0EB132;
        --green3: #0EB132;
        --green4: #09b206;
        --grey: #17191C;
        --grey-text: #B6B2B2;
        --grey2-text: #535353;
        font-size: 62.5%;
        font-family: 'Raleway', Arial, sans-serif;
        --base: 0.6rem;
    }

    /* header */

    header {
        gap: 1rem;
    }

   /*  .arrow-wrap {
        margin-top: 19rem;
        
    } */

    /* main */

    .main-area {
        height: 75vh;
        margin: 7rem 0;
    }
    
    .content-m {
        height: 80vh;
        margin: 0 5rem;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        
        
    }

    .categories {
        align-items: flex-start;
        margin: 0;
    }

    #title-2 {
        font-size: 2.4rem;
    }

    .icons {
        margin: 0;
    }

    .images {
        position: absolute;
        right: 10rem;
        top: 3rem;

        height: 67rem;
        

    }

    .bg {
        
    }

    .bg-area {
        height: 60vh;
    }


    /* #arrow {
        align-items: flex-end;
        height: 6vh;
        margin: 0;
        position: absolute;
        top: 163rem;
        left: 0;
    }
 */
}

@media (max-width: 980px) and (min-width: 414px) {
    :root {
            --bkg-dark: #212327;
            --bkg-white: #DCDDDE;
            --green1: #32EC5B;
            --green2: #0EB132;
            --green3: #0EB132;
            --green4: #09b206;
            --grey: #17191C;
            --grey-text: #B6B2B2;
            --grey2-text: #535353;
            font-size: 62.5%;
            font-family: 'Raleway', Arial, sans-serif;
            --base: 0.6rem;
        }
    
        /* header */
    
        header {
            gap: 1rem;
        }

        .head-contents svg {
            width: 40rem;
            height: 10rem;
        }
    
        /*  .arrow-wrap {
            margin-top: 19rem;
            
        } */
    
        /* main */
    
        .main-area {
            height: 75vh;
            margin: 7rem 0;
        }
    
        .content-m {
            height: 89vh;
            background-color: #17191C;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            align-items: center;
            justify-items: center;
            justify-content: center;
            align-content: center;
            gap: 4rem;
        }
    
        .categories {
            align-items: center;
            margin: 0;
            
            
        }
    
        #title-2 {
            font-size: 2.4rem;
        }
    
        .icons {
            margin: 0;
        }
    
        .images {
            
            right: 0;
            
            width: 100%;
            height: 58rem;
    
    
        }

        #img-1 {
            position: absolute;
            top: 22rem;
            left: 28rem;
        }
        
        #img-2 {
            position: absolute;
            top: 0.5rem;
            left: 45rem;
        }
        
        #img-3 {
            position: absolute;
        
            left: 10rem;
        }

        .bg {
            display: none;
        }
    
        /* .bg {}
    
        .bg-area {
            height: 60vh;
        } */

        /* cta area */

        .cta-area {
            margin-top: 15rem;
        
            width: 100%;
            height: 60rem;
        
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .cta {
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 40rem;
            height: 30rem;
            justify-content: center;
        
        }
    
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .content h1 {
            margin-bottom: 1rem;
            font-size: 4rem;
            font-weight: bold;
            background: linear-gradient(to right, var(--bkg-white), var(--grey-text));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .underline-play {
            display: flex;
        
            position: absolute;
            top: 7rem;
            z-index: -1;
            width: 32rem;
            height: 7px;
            background-color: var(--green4);
        
        }
        
        .content p {
            margin: 2rem 0;
            font-size: 3rem;
            color: var(--grey-text);
        }
        
        #button-cta {
            margin-top: 2rem;
            justify-content: center;
            
        }

        [id$=-bt] {
            font-size: 2.5rem;
            min-width: 170px;
            height: 50px;
        }
}